.header__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.header--right__container > img {
  display: none;
}
.header--left__container {
  height: 78px;
  font-family: "Nothing You Could Do";
  font-size: 60px;
  line-height: 78px;
  color: #141f72;
  margin: 10px 5px 0 10%;
}
.header--right__container {
  color: #222222;
  width: 500px;
  display: flex;
  align-items: center;
  margin: 0 10% 0 0;
  font-family: "FiraGO";
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  flex-shrink: 0;
}

@media (max-width: 760px) {
  .header--left__container {
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
  }
  .header--right__container {
    justify-content: flex-end;
    margin: 0 5% 0 0;
  }
  .header--right__container > .header--right--text__container {
    display: none;
  }
  .header--right__container > img {
    display: inline-block;
  }
}

.book {
  width: 160px;
  height: 48px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border: 1px solid #141f72;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}
