.info__wrapper {
  margin-top: -120px;
  display: flex;
  justify-content: center;
}
.info__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  height: 15rem;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(138, 138, 138, 0.25),
    0px 0px 1px rgba(204, 204, 204, 0.5), 0px 0px 4px #f0f0f0;
  border-radius: 16px;
}
.info--item__container {
  display: flex;
  height: 15vh;
  width: 20vw;
}
.info--logo__container {
  margin: 0 1vw 0 0;
}
.info--logo__container > img {
  width: 2.5vw;
  height: auto;
}

.info--text--title {
  font-family: "Helvetica Neue";
  font-size: 1vw;
  font-weight: bold;
  line-height: 20px;
  color: #353840;
  margin: 0 0 16px 0;
}
.info--text--description {
  display: inline-block;
  font-family: "Helvetica Neue";
  font-size: 1vw;
  min-width: 140px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #707a83;
}

@media (max-width: 760px) {
  .info__wrapper {
    margin-top: -250px;
  }
  .info__container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    min-height: 40rem;
  }
  .info--logo__container > img {
    width: 5vw;
    height: auto;
  }
  .info--item__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 5px;
    width: auto;
  }
  .info--text__container {
    min-width: auto;
  }
  .info--text--title {
    font-family: "Helvetica Neue";
    font-size: 5vw;
    font-weight: bold;
    line-height: 20px;
    color: #353840;
    margin: 0 0 16px 0;
  }
  .info--text--description {
    display: inline-block;
    font-family: "Helvetica Neue";
    font-size: 4vw;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #707a83;
  }
}
@media (max-width: 360px) {
  .info__wrapper {
    margin-top: -125px;
  }
}
