.navModal__wrapper {
  position: fixed;
  z-index: 10000;

  right: 0;
  top: 0;
  height: 101%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.25);
}
.navModal__container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 32px 25px 0 30px;
}
.navModal-items__container {
  margin-top: 61px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Helvetica Neue";
  font-weight: bold;
}
.navModal-item__container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 175px;
  justify-content: flex-start;
}
.navModal-item__container:active {
  opacity: 0.5;
}
.openModal {
  animation: openModalAnimation 1s ease-in-out forwards;
}

@keyframes openModalAnimation {
  0% {
    width: 15%;
  }

  100% {
    width: 90%;
  }
}

@media (min-width: 760px) {
  .navModal__container {
    display: none;
  }
}
