.navModal__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.25);
}
.navModal__container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: green;
  opacity: 1;
}

.openModal {
  animation: openModalAnimation 1s ease-in-out forwards;
}

@keyframes openModalAnimation {
  0% {
    width: 4%;
  }

  100% {
    width: 90%;
  }
}

@media (min-width: 760px) {
  .navModal__container {
    display: none;
  }
}
